body {
  margin: 0;
}
/*grapes photo*/
.grapes {
  z-index: 1000;
  float: right;
  clear: both;
  margin-right: 60px;
  margin-top: 0px;
}
/*header*/
header {
  background-color: #fff;
  padding-left: 0px;
}
header > .row {
  display: flex;
  padding-top: 60px;
  padding-left: 60px;
}
/*navigation bar*/
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navicon {
  padding-right: 250px;
}
p {
  margin: 0;
  padding-right: 50px;
  padding-left: 50px;
}
.link {
  font-family: "Avenir", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  color: black;
}
.link:hover {
  color: #c08d5d;
  text-decoration: none;
}
.active_link {
  font-family: "Avenir", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;
  color: #c08d5d;
}
.logo_pic {
  padding-right: 98px;
  padding-left: 98px;
}
/*main block*/
.mainblock {
  background-color: #fffaf3;
  margin-top: 40px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 120px;
  box-shadow: 0px 80px 40px -30px rgba(192, 141, 93, 0.2);
}
/*text*/
h1 {
  color: #3f4042;
  font-family: "Playfair Display";
  font-size: 50px;
  line-height: 67px;
  letter-spacing: 0.06em;
  padding-left: 120px;
  padding-top: 81px;
  margin-bottom: 0;
}
h1 > span {
  font-size: 70px;
  line-height: 93px;
}
.wave {
  padding-left: 120px;
  padding-top: 20px;
}
.text {
  padding-left: 120px;
  padding-right: 665px;
  padding-top: 26px;
  max-width: 535px;
}
.text > p {
  font-family: "Avenir", sans-serif;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0, 06em;
  color: #3f4042;
  padding-left: 0px;
}
/*more info*/
.button {
  background-color: #c08d5d;
  background-image: url(stroke.png);
  background-repeat: no-repeat;
  background-position-x: 160px;
  background-position-y: center;
  margin-top: 72px;
  margin-left: 120px;
  border: solid 2px #c08d5d;
  width: 197px;
  height: 64px;
}
.button:hover {
  cursor: pointer;
}
.button > .ReadMore {
  background-color: #fff;
  width: 138px;
  height: 64px;
}
.buttontext {
  color: #3f4042;
  font-family: 'Avenir', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 147.6%;
  text-decoration-line: none;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 15px;
  padding-left: 15px;
  white-space: nowrap
}
.mainblock a {
  text-decoration: none;
}
/*button up*/
.mouse {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}
.mouselink {
  margin-left: auto;
  margin-right: auto;
}
.mousepic {
  margin-bottom: 30px;
  margin-top: 6px;
}
.ellipse1 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
}
.ellipse2 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
}